<nav class="navbar navbar-inverse">
  <div class="container-fluid">


    <div class="navbar-header">
      <a class="navbar-brand" 
         href="#">
              <i class="fa fa-cutlery" 
                 style="font-size:24px;padding-right:5px;">
              </i>
              Aplikacja kulinarna
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="">
              Strona główna
              <i class="fa fa-globe" 
                 style="font-size:24px;padding-left:5px;">
              </i>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dodawanie">
              Dodaj przepis
              <i class="fa fa-edit" 
                 style="font-size:24px;padding-left:5px;">
              </i>
        </a>
      </li>
    </ul>


  </div>
</nav>