<body [ngStyle]="{'background-image': 'url(' + bgAddingForm + ')'}">

<div class="secondBG">
      <div class="container">
            <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    


                        <form (ngSubmit)="onAddRecipe(f)" 
                              #f="ngForm">

                              <div class="group">
                                    <label for="nameOfRecipe" 
                                           class="label">
                                           Nazwa przepisu (same litery, od 1 do 50 znaków)
                                           <i class="fa fa-pencil" 
                                              style="font-size:24px;padding-left:5px;">
                                           </i>
                                    </label>
                                    <input id="nameOfRecipe"
                                           name="nameOfRecipe" 
                                           ngModel 
                                           required 
                                           type="text" 
                                           class="recipeName" 
                                           pattern="[A-Za-z]{1,50}" 
                                           #checkIfValidNameOfRecipe="ngModel">
                                    <span class="help-block"
                                          *ngIf="!checkIfValidNameOfRecipe.valid && checkIfValidNameOfRecipe.touched" 
                                          style="color:red;margin-left:35%;">
                                          <b>Musisz wprowadzić poprawną nazwę przepisu!</b>
                                    </span>
                              </div>

                              <div class="group">
                                    <label for="timeForPrepareRecipe" 
                                           class="label">
                                           Czas przygotowania (minuty 1-60)
                                           <i class="fa fa-clock-o" 
                                              style="font-size:24px;padding-left:5px;">
                                           </i>
                                    </label>
                                    <input id="timeForPrepareRecipe"      
                                           name="timeForPrepareRecipe" 
                                           ngModel 
                                           required 
                                           type="number" 
                                           pattern="(60|([1-5]?[0-9]))" 
                                           class="time" 
                                           #checkIfValidTimeForPrepare="ngModel">
                                    <span class="help-block"
                                          *ngIf="!checkIfValidTimeForPrepare.valid && checkIfValidTimeForPrepare.touched" 
                                          style="color:red;margin-left:35%;">
                                          <b>Musisz wybrać poprawny czas przygotowania!</b>
                                    </span>
                              </div>

                              <div class="group">
                                    <label for="difficultLvl" 
                                           class="label">
                                           Określ trudność wykonania (skala 1-10)
                                           <i class="fa fa-dashboard" 
                                              style="font-size:24px;padding-left:5px;">
                                           </i>
                                    </label>
                                    <input id="difficultLvl"
                                           name="difficultLvl" 
                                           ngModel 
                                           required 
                                           type="number" 
                                           pattern="(10|([0-9]))" 
                                           class="lvl" 
                                           #checkIfValidDifficultLvl="ngModel">
                                    <span class="help-block"
                                          *ngIf="!checkIfValidDifficultLvl.valid && checkIfValidDifficultLvl.touched" 
                                          style="color:red;margin-left:37%;">
                                          <b>Określ trudność przygotowania posiłku !</b>
                                    </span>
                              </div>

                              <div class="group">
                                    <label for="qualityOfRecipe"            
                                           class="label">
                                           Określ jakość przepisu (skala 1-10)
                                           <i class="fa fa-thumbs-o-up" 
                                              style="font-size:24px;padding-left:5px;">
                                           </i>
                                    </label>
                                    <input id="qualityOfRecipe"
                                           name="qualityOfRecipe" 
                                           ngModel 
                                           required 
                                           type="number" 
                                           pattern="(10|([0-9]))" 
                                           class="quality" 
                                           #checkIfValidQualityOfRecipe="ngModel">
                                    <span class="help-block"
                                          *ngIf="!checkIfValidQualityOfRecipe.valid && checkIfValidQualityOfRecipe.touched" 
                                          style="color:red;margin-left:42%;">
                                          <b>Określ jakość przepisu!</b>
                                    </span>
                              </div>

                              <div class="group">
                                    <label for="descriptionOfRecipe" 
                                           class="label">
                                           Opis (od 1 do 550 znaków)
                                           <i class="fa fa-edit" 
                                              style="font-size:24px;padding-left:5px;">
                                           </i>
                                    </label>
                                    <textarea rows="8"
                                              cols="50" 
                                              id="descriptionOfRecipe" 
                                              name="descriptionOfRecipe" 
                                              type="text" 
                                              pattern=".{1,550}" 
                                              class="input" 
                                              ngModel 
                                              required 
                                              #checkIfValidDescription="ngModel">
                                    </textarea>
                                    <span class="help-block"
                                          *ngIf="!checkIfValidDescription.valid && checkIfValidDescription.touched" 
                                          style="color:red;margin-left:37%;">
                                          <b>Wprowadź poprawny opis przepisu !</b>
                                    </span>
                              </div>

                              <div class="group">
                                    <input type="submit"
                                           class="button"
                                           value="Dodaj przepis" 
                                           [disabled]="!f.valid">
                              </div>

                        </form>


                  </div>
            </div>
      </div>
</div>

</body>